

.edit-spot-page {
    width: 100%;
    min-height: 120vh;
    background-color: rgb(255, 243, 228);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.card {
    border: none;
}

.card-header {
    color: white;
    background-color: #383838;
    text-align: center;
    height: 50px;
}

h4, h5, label, button {
    font-family: "Inter";
    font-weight: 500;
}

textarea {
    max-height: 500px;
    min-height: 200px;
}

:host ::ng-deep app-calendar .calendar-box{
    margin-top: 0;
  }

