<div class="modal-header">
    <h4 class="modal-title">Register to KiteHub</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && register()" autocomplete="off">
        <app-text-input [formControl]="$any(registerForm.controls['username'])" [label]="'username'">
        </app-text-input>
        <app-text-input [formControl]="$any(registerForm.controls['email'])" [label]="'email'">
        </app-text-input>   
        <app-text-input [formControl]="$any(registerForm.controls['password'])" [label]="'password'"
            [type]="'password'"></app-text-input>
        <app-text-input [formControl]="$any(registerForm.controls['confirmPassword'])" [label]="'confirm password'"
            [type]="'password'"></app-text-input>

        <div class="row" *ngIf="validationErrors">
            <ul class="text-danger">
                <li *ngFor="let error of validationErrors">
                    {{error}}
                </li>
            </ul>
        </div>
        <div class="text-center mt-4 mb-2">
            <button [disabled]="!registerForm.valid" class="btn btn-lg btn-warning me-2" type="submit">Register</button>
            <button type="button" class="btn btn-lg btn-secondary" (click)="bsModalRef.hide()">Cancel</button>
        </div>
    </form>
</div>