<div class="add-spot-page d-flex justify-content-center pt-5">
    <div class="card mx-3 align-self-start text-center" style="width: 800px;">
        <div class="card-header">
            <h4 class="mb-2">Success!</h4>
        </div>
        <div class="card-body">
            <h1 class="my-3">Your spot has been added</h1>
            <h5>Thank you for contributing! Your spot has been successfully added to our platform. However, 
                it is currently pending approval by our team of administrators/moderators. 
                We strive to ensure the quality and accuracy of all submissions before they are made public.

                Please note that the approval process may take some time as we carefully review each submission. 
                Once approved, your spot will be visible to all users of our platform.
                </h5>
                <div class="text-center mt-4 mb-2">
                    <button class="btn btn-lg btn-warning me-2" (click)="navigateHome()">Back to Homepage</button>
                </div>
        </div>
    </div>
</div>