<div class="container-fluid">
<app-nav></app-nav>

<router-outlet></router-outlet>

<footer>
    <div class="left-column m-5" style="width: 350px;">
        <p>Contact:</p>
        <p>marcinjanadamaszek&#64;gmail.com</p>
        <p><a href="https://github.com/MarcinAdamaszek">https://github.com/MarcinAdamaszek</a></p>
        <br>
        <br>
        <br>
        <p>Author: Marcin Adamaszek</p>
        <p>2024</p>
    </div>
    <div class="right-column m-5" style="width: 350px;">
        <p>Disclaimer:</p>
        <p>
            Kitehub is an independent website dedicated to provide a kitesurfing spots public repository. We are not affiliated with or endorsed by any businesses that may have similar names or trademarks our own. Any similarity in names is purely coincidental, and we make no claims to their names or trademarks.
        </p>
        <p></p>
    </div>
</footer>
</div>