h2 {
    font-family: "Inter";
    letter-spacing: 2px;
    font-weight: 800;
}

.filter-button {
    font-family: "Inter";
    font-weight: 500;
    width: 215px;
    display: flex;
    align-items: center;
}