.form-select {
    max-width: 70px;
    min-height: 70px;
    font-family: "Inter";
    font-size: 30px;
    font-weight: 800;
    background-color: #383838;
    background-image: url(../../../assets/icons/select-dropdown-yellow-arrow.svg);
    color: #FDC900;
}