<div class="mx-3 my-3 mx-2 col-6 col-md-12 text-center d-flex align-items-center flex-wrap justify-content-center my-1" style="height: 120px;">
    <div class="husk-box" [class.selected]="selectedMonth === 'january'">
        <div class="text-center border rounded-bottom-5 rounded-top-2 month-husk" 
            (click)="toggleSelected('january')"
            >
            <div class="husk-content">
                <p class="mb-1">JAN</p>
                <p>1</p>
            </div>
        </div>
    </div>
    <div class="husk-box" [class.selected]="selectedMonth === 'february'">
        <div class="text-center border rounded-bottom-5 rounded-top-2 month-husk" 
            (click)="toggleSelected('february')"
            >
            <div class="husk-content">
                <p class="mb-1">FEB</p>
                <p>2</p>
            </div>
        </div>
    </div>
    <div class="husk-box" [class.selected]="selectedMonth === 'march'">
        <div class="text-center border rounded-bottom-5 rounded-top-2
             month-husk" (click)="toggleSelected('march')"
            >
            <div class="husk-content">
                <p class="mb-1">MAR</p>
                <p>3</p>
            </div>
        </div>
    </div>
    <div class="husk-box" [class.selected]="selectedMonth === 'april'">
        <div class="text-center border rounded-bottom-5 rounded-top-2 month-husk" 
            (click)="toggleSelected('april')"
            >
            <div class="husk-content">
                <p class="mb-1">APR</p>
                <p>4</p>
            </div>
        </div>
    </div>
    <div class="husk-box" [class.selected]="selectedMonth === 'may'">
        <div class="text-center border rounded-bottom-5 rounded-top-2 month-husk" 
            (click)="toggleSelected('may')"
            >
            <div class="husk-content">
                <p class="mb-1">MAY</p>
                <p>5</p>
            </div>
        </div>
    </div>
    <div class="husk-box" [class.selected]="selectedMonth === 'june'">
        <div class="text-center border rounded-bottom-5 rounded-top-2 month-husk" 
            (click)="toggleSelected('june')"
            >
            <div class="husk-content">
                <p class="mb-1">JUN</p>
                <p>6</p>
            </div>
        </div>
    </div>
<div class="husk-box" [class.selected]="selectedMonth === 'july'">
        <div class="text-center border rounded-bottom-5 rounded-top-2 month-husk" 
            (click)="toggleSelected('july')"
            >
            <div class="husk-content">
                <p class="mb-1">JUL</p>
                <p>7</p>
            </div>
        </div>
    </div>
    <div class="husk-box" [class.selected]="selectedMonth === 'august'">
        <div class="text-center border rounded-bottom-5 rounded-top-2 month-husk" 
            (click)="toggleSelected('august')"
            >
            <div class="husk-content">
                <p class="mb-1">AUG</p>
                <p>8</p>
            </div>
        </div>
    </div>
    <div class="husk-box" [class.selected]="selectedMonth === 'september'">
        <div class="text-center border rounded-bottom-5 rounded-top-2 month-husk" 
            (click)="toggleSelected('september')"
            >
            <div class="husk-content">
                <p class="mb-1">SEP</p>
                <p>9</p>
            </div>
        </div>
    </div>
    <div class="husk-box" [class.selected]="selectedMonth === 'october'">
        <div class="text-center border rounded-bottom-5 rounded-top-2 month-husk" 
            (click)="toggleSelected('october')"
            >
            <div class="husk-content">
                <p class="mb-1">OCT</p>
                <p>10</p>
            </div>
        </div>
    </div>
    <div class="husk-box" [class.selected]="selectedMonth === 'november'">
        <div class="text-center border rounded-bottom-5 rounded-top-2 month-husk" 
            (click)="toggleSelected('november')"
            >
            <div class="husk-content">
                <p class="mb-1">NOV</p>
                <p>11</p>
            </div>
        </div>
    </div>
    <div class="husk-box" [class.selected]="selectedMonth === 'december'">
        <div class="text-center border rounded-bottom-5 rounded-top-2 month-husk" 
            (click)="toggleSelected('december')"
            >
            <div class="husk-content">
                <p class="mb-1">DEC</p>
                <p>12</p>
            </div>
        </div>
    </div>
</div>