.husk-box {
    display: inline-block;
    margin: 0 0.07%;
    font-family: "Inter";
}

.month-husk {
    background-color: #383838;
    color: white;
    transition: color 0.3s ease, background-color 0.3s ease;;
}

.month-husk:hover {
    background-color: #444444;
    color: #FDC900;
    cursor: pointer;
}

.husk-content {
    margin: 0.5em 0.4em 0.6em 0.4em;
}

p {
    width: 2.3em;
    margin: auto;

}

.selected div div p {
    color: #FDC900;
}

.reset-calendar-button {
    width: 120px;
    font-family: "Inter";
    font-size: 20px;
    font-weight: 500;
    background-color: #383838;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 7px 15px;
    transition: color 0.3s ease, background-color 0.3s ease;;
}

.reset-calendar-button:hover {
    background-color: #444444;
    color: #FDC900;
}