<div class="d-flex flex-column align-items-center container">
<div class="calendar-box col-6 col-md-12 d-flex align-items-center flex-wrap justify-content-center my-1">
    <div class="husk-box" [class.selected]="monthsToggledOn.includes('january')">
        <div class="text-center border rounded-bottom-5 rounded-top-2 month-husk shadow-sm" 
            (click)="toggleSelected('january')"
            >
            <div class="husk-content">
                <p class="mb-1">JAN</p>
                <p>1</p>
            </div>
        </div>
    </div>
    <div class="husk-box" [class.selected]="monthsToggledOn.includes('february')">
        <div class="text-center border rounded-bottom-5 rounded-top-2 month-husk shadow-sm" 
            (click)="toggleSelected('february')"
            >
            <div class="husk-content">
                <p class="mb-1">FEB</p>
                <p>2</p>
            </div>
        </div>
    </div>
    <div class="husk-box" [class.selected]="monthsToggledOn.includes('march')">
        <div class="text-center border rounded-bottom-5 rounded-top-2
             month-husk shadow-sm" (click)="toggleSelected('march')"
            >
            <div class="husk-content">
                <p class="mb-1">MAR</p>
                <p>3</p>
            </div>
        </div>
    </div>
    <div class="husk-box" [class.selected]="monthsToggledOn.includes('april')">
        <div class="text-center border rounded-bottom-5 rounded-top-2 month-husk shadow-sm" 
            (click)="toggleSelected('april')"
            >
            <div class="husk-content">
                <p class="mb-1">APR</p>
                <p>4</p>
            </div>
        </div>
    </div>
    <div class="husk-box" [class.selected]="monthsToggledOn.includes('may')">
        <div class="text-center border rounded-bottom-5 rounded-top-2 month-husk shadow-sm" 
            (click)="toggleSelected('may')"
            >
            <div class="husk-content">
                <p class="mb-1">MAY</p>
                <p>5</p>
            </div>
        </div>
    </div>
    <div class="husk-box" [class.selected]="monthsToggledOn.includes('june')">
        <div class="text-center border rounded-bottom-5 rounded-top-2 month-husk shadow-sm" 
            (click)="toggleSelected('june')"
            >
            <div class="husk-content">
                <p class="mb-1">JUN</p>
                <p>6</p>
            </div>
        </div>
    </div>
<div class="husk-box" [class.selected]="monthsToggledOn.includes('july')">
        <div class="text-center border rounded-bottom-5 rounded-top-2 month-husk shadow-sm" 
            (click)="toggleSelected('july')"
            >
            <div class="husk-content">
                <p class="mb-1">JUL</p>
                <p>7</p>
            </div>
        </div>
    </div>
    <div class="husk-box" [class.selected]="monthsToggledOn.includes('august')">
        <div class="text-center border rounded-bottom-5 rounded-top-2 month-husk shadow-sm" 
            (click)="toggleSelected('august')"
            >
            <div class="husk-content">
                <p class="mb-1">AUG</p>
                <p>8</p>
            </div>
        </div>
    </div>
    <div class="husk-box" [class.selected]="monthsToggledOn.includes('september')">
        <div class="text-center border rounded-bottom-5 rounded-top-2 month-husk shadow-sm" 
            (click)="toggleSelected('september')"
            >
            <div class="husk-content">
                <p class="mb-1">SEP</p>
                <p>9</p>
            </div>
        </div>
    </div>
    <div class="husk-box" [class.selected]="monthsToggledOn.includes('october')">
        <div class="text-center border rounded-bottom-5 rounded-top-2 month-husk shadow-sm" 
            (click)="toggleSelected('october')"
            >
            <div class="husk-content">
                <p class="mb-1">OCT</p>
                <p>10</p>
            </div>
        </div>
    </div>
    <div class="husk-box" [class.selected]="monthsToggledOn.includes('november')">
        <div class="text-center border rounded-bottom-5 rounded-top-2 month-husk shadow-sm" 
            (click)="toggleSelected('november')"
            >
            <div class="husk-content">
                <p class="mb-1">NOV</p>
                <p>11</p>
            </div>
        </div>
    </div>
    <div class="husk-box" [class.selected]="monthsToggledOn.includes('december')">
        <div class="text-center border rounded-bottom-5 rounded-top-2 month-husk shadow-sm" 
            (click)="toggleSelected('december')"
            >
            <div class="husk-content">
                <p class="mb-1">DEC</p>
                <p>12</p>
            </div>
        </div>
    </div>
</div>
<button type="button" class="reset-calendar-button shadow-sm mt-1" (click)="resetMonthToggle()">Reset</button>
</div>
