<div class="main-container  d-flex justify-content-center pt-5">
    <div class="card mx-3 align-self-start text-center" style="width: 800px;">
        <div class="card-header">
            <h4 class="mb-2">{{title}}</h4>
        </div>
        <div class="card-body">
            <h5>{{message}}</h5>
                <div class="text-center mt-4 mb-2">
                    <button class="btn btn-lg btn-warning me-2" (click)="navigateBack()">Back to previous page</button>
                </div>
        </div>
    </div>
</div>