.husk-box {
    display: inline-block;
    font-family: "Inter";
}

.month-husk {
    background-color: #383838;
    color: white;
}

.month-husk:hover {
    background-color: #383838;
    color: #FDC900;
    cursor: pointer;
}

.husk-content {
    margin: 0.25em 0.10em 0.3em 0.10em;
}

p {
    font-size: 0.6rem;
    width: 2.25em;
    margin: 0;
}

.selected div div p {
    color: #FDC900;
}

.unavailable {
    background-color: #d4d4d4;
    color: #383838;
    font-weight: bold;
}