<div class="text-center align-middle mb-4">
    <div class="husk-box">
        <div class="text-center border rounded-bottom-5 rounded-top-2 month-husk"
            [class.unavailable]="spot?.january == false">
            <div class="husk-content">
                <p>JAN</p>
                <p>01</p>
            </div>
        </div>
    </div>
    <div class="husk-box">
        <div class="text-center border rounded-bottom-5 rounded-top-2 month-husk"
            [class.unavailable]="spot?.february == false">
            <div class="husk-content">
                <p>FEB</p>
                <p>02</p>
            </div>
        </div>
    </div>
    <div class="husk-box">
        <div class="text-center border rounded-bottom-5 rounded-top-2 month-husk" 
            [class.unavailable]="spot?.march == false">
            <div class="husk-content">
                <p>MAR</p>
                <p>03</p>
            </div>
        </div>
    </div>
    <div class="husk-box">
        <div class="text-center border rounded-bottom-5 rounded-top-2 month-husk"
            [class.unavailable]="spot?.april == false">
            <div class="husk-content">
                <p>APR</p>
                <p>04</p>
            </div>
        </div>
    </div>
    <div class="husk-box">
        <div class="text-center border rounded-bottom-5 rounded-top-2 month-husk"
            [class.unavailable]="spot?.may == false">
            <div class="husk-content">
                <p>MAY</p>
                <p>05</p>
            </div>
        </div>
    </div>
    <div class="husk-box">
        <div class="text-center border rounded-bottom-5 rounded-top-2 month-husk"
            [class.unavailable]="spot?.june == false">
            <div class="husk-content">
                <p>JUN</p>
                <p>06</p>
            </div>
        </div>
    </div>
    <div class="husk-box">
        <div class="text-center border rounded-bottom-5 rounded-top-2 month-husk"
            [class.unavailable]="spot?.july == false">
            <div class="husk-content">
                <p>JUL</p>
                <p>07</p>
            </div>
        </div>
    </div>
    <div class="husk-box">
        <div class="text-center border rounded-bottom-5 rounded-top-2 month-husk"
            [class.unavailable]="spot?.august == false">
            <div class="husk-content">
                <p>AUG</p>
                <p>08</p>
            </div>
        </div>
    </div>
    <div class="husk-box">
        <div class="text-center border rounded-bottom-5 rounded-top-2 month-husk"
            [class.unavailable]="spot?.september == false">
            <div class="husk-content">
                <p>SEP</p>
                <p>09</p>
            </div>
        </div>
    </div>
    <div class="husk-box">
        <div class="text-center border rounded-bottom-5 rounded-top-2 month-husk"
            [class.unavailable]="spot?.october == false">
            <div class="husk-content">
                <p>OCT</p>
                <p>10</p>
            </div>
        </div>
    </div>
    <div class="husk-box">
        <div class="text-center border rounded-bottom-5 rounded-top-2 month-husk"
            [class.unavailable]="spot?.november == false">
            <div class="husk-content">
                <p>NOV</p>
                <p>11</p>
            </div>
        </div>
    </div>
    <div class="husk-box">
        <div class="text-center border rounded-bottom-5 rounded-top-2 month-husk"
            [class.unavailable]="spot?.december == false">
            <div class="husk-content">
                <p>DEC</p>
                <p>12</p>
            </div>
        </div>
    </div>
</div>