<div class="about-page">
    <div class="img-overlay"></div>
    <div class="container-fluid">
        <div class="row d-flex justify-content-between ms-lg-5">
                <div class="site-about col col-lg-6 ms-lg-5">
                    <div class="d-flex flex-column justify-content-start mx-3 ms-lg-5">
                        <h1>KITEHUB</h1>
                        <h2 class="mt-4">YOUR</h2>
                        <h2>KITESURFING</h2>
                        <h2>SPOTS</h2>
                        <h2>REPOSITORY</h2>
                        <p class="mt-5">
                            Welcome to <span class="text-emphasis">KiteHub</span> - your friendly 
                            online space for kitesurfers of all levels to explore, 
                            share and rate a large variety of kitesurfing spots around the globe!
                        </p>
                        <p>
                            The idea behind the project was to create a space for exploring kitesurfing destinations
                            with the addition of rate & reviews system and an ability for users
                            to post their own spots.
                        </p>
                        <p>
                            On the home page, you can find a list of all kitesurfing destinations
                            stored in the database. On every spot, there is a compact set of basic 
                            information like the spot's name, its location or peak season. You can
                            click on a spot to open a page with detailed information about it.
                            That's also where logged-in users are able to rate and review the destination.
                        </p>
                        <p style="margin-bottom: 0;">
                            Spots on the list can be filtered on season basis. There is a
                            calendar-like filtering tool above the list, hidden under the
                            <span class="text-emphasis">'Filter by month'</span> button.
                        </p>
                    </div>
                </div>
                <div class="author-about col col-lg-4">
                    <div class="d-flex flex-column align-items-end mx-3">
                        <h2>ABOUT AN AUTHOR</h2>
                        <img class="shadow-sm" src="../../assets/images/jumpdream - Copy.png" alt="Something went wrong with the photo">
                        <p class="mt-5">
                           Hi! My name is Marcin and I like programming, sports and learning new things.
                           My development journey started in 2020 when I began studying at Opole University
                           of Technology. I'm currently learning .NET.
                        </p>
                        <p class="mb-5">My first encounter with kiteboarding happened in 2019 in Netherlands.
                            Ever since childhood, I've watched surfers on american tv shows and movies
                            and thought what an amazing feeling and thrill it must be to ride those waves.
                            And so, as a grown-up during my stay in Netherlands, I decided it's time
                            to finally try my hand at it. I've talked about my plans with an acquaintance
                            of mine and he mentioned about kitesurfers. So I thought "That seems fun, why not giving it a try?". 
                            I've done my research, found a local kite-school and booked my first lesson. 
                            After my first successful waterstart, and around 10 meters ride
                            ended with an uncontrolled crash, I knew I'm addicted for life.
                        </p>
                    </div>
                </div>
        </div>
    </div>
</div>