h4, h5, h6 {
    font-family: "Inter";
    font-weight: bold;
    line-height: 85%;
}

.skill-level > p {
    display: inline;
    font-family: "Inter";
    font-weight: 600;
}

.skill-level {
    background-color: #E4E4E4;
    border-radius: 25px;
    padding: 6px;
}

.title-box {
    padding: 2em 0em;
    text-align: center;
    background-color: lightblue;
    border-radius: 6px 6px 0 0;
}

.title-box h2 {
    font-family: "LuckiestGuy";
    color: black;
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    opacity: 0; 
    transition: opacity 0.3s ease; 
    z-index: 1; 
}

.card:hover::before {
    opacity: 1;
}

.card-header {
    background-color: #383838;
    padding: 3px 0;
}

.card-header-approved {
    background-color: #63c44b;
}

.card-header-unapproved {
    background-color: #969696;
}

.card-header-approved, .card-header-unapproved {
    color: white;
    font-family: "Inter";
    letter-spacing: 3px;
}

.card-text {
    font-family: "Inter";
    display: flex;
    flex-direction: column;
}

p {
    max-width: 350px;
    align-self: flex-end;
    word-wrap: break-word;
}

.wrapper-button {
    border: none;
    background: none;
}

.moderate-buttons button {
    font-family: "Inter";
}


