

.add-spot-page {
    width: 100%;
    min-height: 120vh;
    // overflow: hidden;
    // position: relative;
    background-color:antiquewhite;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.card {
    border: none;
}

.card-header {
    color: white;
    background-color: #383838;
    text-align: center;
    height: 50px;
}

button {
    font-family: "Inter";
}

:host ::ng-deep app-review .review-container {
    float: none;
  }

